SECRET_KEY=django-insecure-sm4rt-ec0mm3rc3-@!2026-pr0j3ct-k3y-x9z
DEBUG=True
GROQ_API_KEY=your_groq_api_key_here

# Oracle Database Configuration
ORACLE_DB_NAME=XEPDB1
ORACLE_DB_USER=ecommerce_user
ORACLE_DB_PASSWORD=ecommerce_pass
ORACLE_DB_HOST=localhost
ORACLE_DB_PORT=1521

# Redis Configuration
REDIS_URL=redis://127.0.0.1:6379/0
